body {
  height: 100vh;
  max-width: 1440px;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  background: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  background-size: cover;
  margin: 0 auto;

}

.container {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0 30px;
}

.header {
  margin: 0 0 30px 50px;
}

.header img {
  max-width: 200px;
}

.hud {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 40px;
  gap: 30px;
} 

.hud .image {
 max-width: 80%;
}

.hud .image img {
  max-width: 100%;
}

.hud .description {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.description h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  margin-top: 50px;
  
}

.description p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  margin-top: 30px;
  
}

.description a {
  width: 200px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: hsl(257, 40%, 49%);
  background-color: #fff;
  padding: 10px 60px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  margin-top: 50px;
}

.description a:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}

/* .social {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin: 50px 100px 0 0;
  padding-bottom: 20px;
  
} */

.social {
  text-align: end;
  margin: 50px 55px 0 0;
}

.social .fa-facebook-f {
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100px;
  padding: 6px;
  margin-right: 20px;
}

.social .fa-twitter {
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100px;
  padding: 6px;
  margin-right: 20px;
}

.social .fa-instagram {
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100px;
  padding: 6px;
  
  
}

.social .fa-facebook-f:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}

.social .fa-twitter:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}

.social .fa-instagram:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}

@media (max-width: 1024px) {
  
  .header {
    margin: 20px 470px 50px 30px;
  }

  .hud {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .hud .image {
    max-width: 80%;
  }

  .hud .image img {
    max-width: 100%;
  }

  .hud .description {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hud .description a {
    margin-bottom: 50px;
    width: 300px;
    text-align: center;
    margin: 50px 0 50px 0;
  }

  .image img {
    width: 600px;
   
  }

  .social {
    margin: 40px auto;
  }
}

@media (max-width: 640px) {
  .header img{
    max-width: 200px;
  }
  .hud {
    text-align: center;
  }

  .hud .image {
    max-width: 100%;
  }

  .hud .description {
    max-width: 100%;
  }

  .social {
    margin: 0 auto 30px;
  }
}