body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  background: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header"
    "hud"
    "footer";
  padding: 30px 30px 0 30px;
}

.header {
  grid-area: header;
  margin: 0 0 30px 50px;
}

.header img {
  max-width: 200px;
}

.hud {
  max-width: 1440px;
  grid-area: hud;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 0 auto;
  
} 

.hud img {
  max-width:700px;
}

.hud .description {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}


.description h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: #fff;
  font-weight: 700;
  margin-top: 50px;
  
}

.description p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-top: 30px;
  
}

.description a {
  width: 200px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: hsl(257, 40%, 49%);
  background-color: #fff;
  padding: 10px 60px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  margin-top: 30px;
 

}

.description a:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}

.social {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 100px;
  padding-bottom: 20px;
  
}

.social i {
  font-size: 25px;
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100px;
  padding: 6px;
}

.social a i:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}

@media (max-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .header {
    margin: 20px 470px 50px 30px;
  }

  .hud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hud .description a {
    margin-bottom: 50px;
    width: 300px;
    text-align: center;
    margin: 30px 0 50px 0;
  }

  .image img {
    width: 90%;
  }

  .social {
    display: flex;
    justify-content: center;
    padding: 0 0 50px 30px;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
  }

  .hud {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .hud .description p {
    font-size: 2.2rem;
  }


}
